body{
    background-color: #0f0f0f;
    color: white;
    padding: 0;
    margin: 0 5px;
    font-family: "Lucida Console", Monaco, monospace !important;
}

span{
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
}

span.response{
    display: block;
    margin-bottom: 5px;
}

span>span:not(.command){
    opacity: .64;
    margin-bottom: 5px;

}

@keyframes blinking-border {
    0% {border-right: 3px solid currentColor;}
    49% {border-right: 3px solid currentColor;}
    50%{border-right: 3px solid transparent;}
    100%{border-right: 3px solid transparent;}
}

.command{
    display: inline;
    width: auto;
    padding:0;
    margin-top: 2px;
    animation: blinking-border;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

.command.typing{
    border-right:3px solid currentColor !important;
    animation: none;
}

form{
    opacity: 0;
}

h1{
    color: white;
}

label{
    width: 100%;
}

textarea{
    width: 100%;
    border-radius: 10px;
    background-color: rgba(28, 28, 28, 1);
    color: #828282;
    resize: none;
    cursor: pointer;
}

textarea.copied{
    border-color: #00cc51;
}

span.copyConfirmation{
    color: #00cc51;
}

textarea::selection{
    background-color: #2e2e2e;
}