/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  flex-direction: column;
}

nav > button{
  border-left: 3px solid white;
  padding-left: 1rem;
  padding-top:.5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  transition: all ease-out .2s;
}

nav > button:hover{
  border-left-width: 23px;
}
