html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.serif{
  font-family: serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chakra-ui-dark{
  background-color: #181818;
}

#laser-dark,#laser-light{
  transform-origin: center bottom;
  transition: all ease-out .5s;
  transition-delay: .5s;
}

.lightsaber.dark #laser-dark{
  transform: scaleY(1);
}

.lightsaber #laser-dark{
  transform: scaleY(0);
}
